<h1>Leaders</h1>
<h2><%= link_to "Back", users_path %> </h2>

<table>
 <h2> Level 1 </h2>
  <th>Name</th>
  <th>Number Correct</th>
<% @level1.each do |leader| %>
  <tr>
    <td><%= leader.name %></td>
    <td><%= leader.right%></td>
  </tr>
  <% end %>
</table>

<table>
  <h2>Level 2</h2>
  <th>Name</th>
  <th>Number Correct</th>
<% @level2.each do |leader| %>
  <tr>
    <td><%= leader.name %></td>
    <td><%= leader.right%></td>
  </tr>
  <% end %>
</table>

<table>
 <h2> Level 3</h2>
  <th>Name</th>
  <th>Number Correct</th>
<% @level3.each do |leader| %>
  <tr>
    <td><%= leader.name %></td>
    <td><%= leader.right%></td>
  </tr>
  <% end %>
</table>

<table>
 <h2> Level 4</h2>
  <th>Name</th>
  <th>Number Correct</th>
<% @level4.each do |leader| %>
<tr>
  <td><%= leader.name %></td>
  <td><%= leader.right%></td>
</tr>
  <% end %>
</table>

<table>
  <h2>Level 5</h2>
  <th>Name</th>
  <th>Number Correct</th>
<% @level5.each do |leader| %>
<tr>
  <td><%= leader.name %></td>
  <td><%= leader.right%></td>
</tr>
  <% end %>
</table>